:root {
  --bg-color: #1F2937;
  --primary-color: #42A5F5;
  --badge-size: 30px;
  --node-border-radius: 10px;
  --handel-size: 10px;
}

.react-flow__node-card  {
  display: flex;
  border-radius: var(--node-border-radius);
}

.react-flow__node-card.selected{
  box-shadow: 0 0 0 4px var(--primary-color);
}

.react-flow__node-card:hover {
  box-shadow: 
    0px 0px 200px  var(--primary-color),
    0 0 0 4px var(--primary-color);
}

.react-flow__node-card .MuiPaper-root {
  border: 0;
  box-shadow: none;
  border-radius: var(--node-border-radius);
  background-color: var(--bg-color);
  color: #fff;
}


.react-flow__node-card .MuiBadge-badge {
  width: var(--badge-size);
  height: var(--badge-size);
  border-radius: 50%;
}


/* handle */
.react-flow__node-card .react-flow__handle {
  opacity: 0;
  background: #fff;
  width: var(--handel-size);
  height: var(--handel-size);
}

.react-flow__node-card:hover .react-flow__handle,
.react-flow__node-card.selected .react-flow__handle {
  opacity: 1;
}

.react-flow__node-card .react-flow__handle.connected {
  opacity: 1;
}

.react-flow__node-card .react-flow__handle.around {
  opacity: 1;
  background: red;
  width: calc(var(--handel-size)*1.8);
  height: calc(var(--handel-size)*1.8);
}



/*  edge */
.react-flow__edge .react-flow__edge-path {
  stroke: #aaa;
  stroke-width: 2;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 4 !important;
}
