@tailwind base;
@tailwind components;
@tailwind utilities;

a.router-link-active {
  background: #D4E3F7;
  /* color: #fff; */
}

/* .MuiListItem-root:has(a.router-link-active) {
  box-shadow: 0 0 100px 0 rgba(0,0,0,0.1);
  border-radius:5px;
} */


.MuiTreeItem-label {
  padding-block: .2rem;
  font-size: 1px !important;
}
ul[role="tree"] > li > .MuiTreeItem-content .MuiTreeItem-label  {
  font-size: 1rem !important;
}

.btn {
  @apply font-bold text-sm py-2 px-4 rounded whitespace-nowrap max-h-[45px];
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-sm {
  @apply px-2 py-1
}
.btn-blue:hover {
  @apply bg-blue-700;
}